.layout {
    display: grid;
    grid-template-columns: 260px 1fr ;
    grid-template-areas: "sidebar main-content "; 

 
}
.sidebar {
    grid-area: sidebar; 
    position: fixed;
   

}


.children {
    grid-area: main-content; 
}

@media (max-width: 1140px) {

    .layout {
        grid-template-columns: 1fr;
        grid-template-areas: "main-content";
    }

}