.layoutContent {
    display: grid;
    grid-template-columns: 300px 1fr ;
    grid-template-areas: "sidebar main-content"; 
    overflow: hidden;
    
}


.sidebar {
    grid-area: sidebar; 
    position: fixed;
   
}


.children {
    grid-area: main-content; 
}

@media (max-width: 1140px) {

    .layoutContent{
        grid-template-columns: 1fr;
        grid-template-areas: " main-content";
        grid-template-rows: 2;
      
    }
    

}