:root {
    --standard-color: #DBA90E;
    --yellow-100-color: #e9c65e;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato;

}


nav a.active {
    color: var(--standard-color);
    border: solid 1px var(--standard-color);
    padding: 6px;
}

.loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    background-image: url(./assets/loader.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
}

.card_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem
}


.controller {
    display: flex;
    justify-content: space-between;
}


.filter{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    background-color: var(--standard-color);

}


.filter form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter input{
    height: 3rem;
    width: 300px;
    padding: 20px;
    font-size: 1rem;
    outline: none;
    border-radius: 10px;
    border: none;
    
}

.filter button {
    height: 2rem;
    width: 80px;
    border-radius: 20px;
    background: transparent;
    transition: 0.3s;
    border: none;
    font-size: 1rem;
    
}

.filter button:hover {
    cursor: pointer;
    color: #fff;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    width: 100px;
    height: 3rem;
    font-size: 1rem;
    text-align: center;
    background: transparent;
    border-radius: 10px;
    transition: 0.3s;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: 0 20px;
}

.pagination button:hover {
    background-color: var(--standard-color);
    cursor: pointer;
    color: #fff;
}

