:root {
    --standard-color: #DBA90E;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato;

}


nav a.active {
    color: var(--standard-color);
    border: solid 1px var(--standard-color);
    padding: 6px;
}

.loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    background-image: url(./assets/loader.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
}

.card_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem
}


.controller {
    display: flex;
    justify-content: space-between;
}

.filter form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    gap: 4px;
}

.filter input{
    height: 2rem;
    width: 300px;
    padding: 20px;
    font-size: 1rem;
    outline: none;
    border: solid 1px black
    
}

.filter button {
    width: 100px;
    padding: 13px;
    text-align: center;
    background: transparent;
    border: solid 1px black;
    transition: 0.3s;
}

.filter button:hover {
    background-color: var(--standard-color);
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    width: 100px;
    padding: 13px;
    text-align: center;
    background: transparent;
    border: solid 1px black;
    transition: 0.3s;
    margin: 10px;
}

.pagination button:hover {
    background-color: var(--standard-color);
    cursor: pointer;
}

