.sidebar {
    width: 260px;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
}

.sidebar a:hover {
    color: yellow;
}